semana-1/.ipynb_checkpoints
.DS_Store
semana-2/.ipynb_checkpoints
semana-2/images
semana-3/3.3-Numpy.ipynb
semana-3/3.4-Intro_Pandas.ipynb
semana-3/.ipynb_checkpoints
semana-4/4.2-Mas-Pandas.ipynb
semana-4/.ipynb_checkpoints
