semana-1/.ipynb_checkpoints
.DS_Store
semana-2/.ipynb_checkpoints
semana-2/images
semana-3/3.3-Numpy.ipynb
semana-3/3.4-Intro_Pandas.ipynb
semana-3/.ipynb_checkpoints
semana-4/.ipynb_checkpoints
semana-5/.ipynb_checkpoints
semana-6/.ipynb_checkpoints
semana-6/imagenes
semana-6/6.1-SQL-Intro/.ipynb_checkpoints
semana-6/6.2-SQL-Queries/.ipynb_checkpoints
semana-6/6.3-SQL-Alquemy/.ipynb_checkpoints
semana-7/.ipynb_checkpoints
semana-8/.ipynb_checkpoints
semana-8/selenium
semana-12/.ipynb_checkpoints
semana-12/.cache
semana-12/.env
semana-17/.ipynb_checkpoint
semana-18/.ipynb_checkpoint
semana-18
