semana-1/.ipynb_checkpoints
.DS_Store
semana-2/.ipynb_checkpoints
semana-2/images
semana-3/3.3-Numpy.ipynb
semana-3/3.4-Intro_Pandas.ipynb
semana-3/.ipynb_checkpoints
semana-4/.ipynb_checkpoints
semana-5/.ipynb_checkpoints
semana-6/.ipynb_checkpoints
semana-6/imagenes
semana-6/6.1-SQL-Intro/SQL-Intro.ipynb
semana-6/6.1-SQL-Intro/Scripts-SQL
semana-6/6.1-SQL-Intro/.ipynb_checkpoints